@import 'grid';
@import 'text';
@import 'colors';

.cosmo-board {
    padding-top: 140px;
    padding-bottom: 40px;

    @media (max-width: 385px) {
        padding-top: 115px;
    }
}

.cosmo-column-title {
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 385px) {
        font-size: 14px;
    }
}

.cosmo-todo-sm {
    display: block;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.cosmo-todo-list {
    min-height: calc(100vh - 224px);
    padding: 10px;
    border: 1px dashed #ffffff47;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cosmo-todo-list.cdk-drop-list-dragging .cdk-drag.cosmo-todo-sm:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


