@import 'grid';
@import 'text';
@import 'colors';

.cosmo-board {
    padding-top: 40px;

    @media (max-width: 385px) {
        padding-top: 20px;
    }
}

.cosmo-column-title {
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 385px) {
        font-size: 14px;
    }
}

.cosmo-todo-sm {
    display: block;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.cosmo-todo-list {
    min-height: 100vh;
}