$general-color: #2a2438;
$accentColor: #272038;
$primaryTextColor: #fff;
$secondaryTextColor: #000;
$itemHoverColor: #3c3948;
$popupColor: #fff;
$panelsColor: #675596;
$btnPositiveColor: rgb(67 175 117);
$btnNegativeColor: #bb2020;
$btnHoverPositiveColor: rgb(31 126 75);
$btnHoverNegativeColor: #891616;
$btnDisabledColor: #808080;
$todoItemColor: #fff;
$todoItemHoverColor: #DEE8F6;