.mr {
    &-10 {
        margin-right: 10px;
    }

    &-15 {
        margin-right: 15px;
    }
}

.mb {
    &-20 {
        margin-bottom: 20px;
    }

    &-40 {
        margin-bottom: 40px;
    }
}

